<div class="container text-center mt-3">
    <h2> Favorites by @{{ username }} </h2>
    <div class="text-center m-3">
        <a routerLink="/people/{{userId}}"><button class="btn btn-success"><i class="fas fa-backspace mr-2"></i>Back to profile</button></a>
    </div>
    <app-feed-item *ngFor="let img of favorites" [img]="img"></app-feed-item>
    <h1 *ngIf="!favorites">
        <div class="spinner-border fav-mySpinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </h1>
    <h1 *ngIf="favorites && favorites.length === 0">
        No result.
    </h1>
    <div class="m-3">
        <button *ngIf="favorites && favorites.length !== 0 && pageno !== 1" class="btn btn-secondary m-3"
            (click)="Prevpage()"><i class="fas fa-chevron-left mr-1"></i>Previous page</button>
        <button *ngIf="favorites && favorites.length !== 0 && isNext" class="m-3 btn btn-secondary" (click)="Nextpage()">Next
            page<i class="fas fa-chevron-right ml-1"></i></button>
    </div>
</div>